* {
  font-family: Arial , Helvetica , sans-serif;
  margin: 0;
  padding: 0;
}

@media ( min-width : 0 ) and ( max-width : 319px ) {

  * {
    background-color: black;
    display: none;
  }
}

:root {

  --primeira: #042c2c;

  --segunda: #e5b02c;

  --terceira: #64622c;

  --quarta: #74742c;
}
