@media ( min-width : 320px ) and ( max-width : 479px ) {

  nav {
    align-items: center;
    background-color: white;
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .nav-link {
    align-items: center;
    display: flex;
  }

  .linkProdutos, .linkPedidos, .linkAdmin, .linkSair {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .linkSair {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .iconProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .iconSairProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiLinks-nav {
    align-items: center;
    display: flex;
    font-family: Arial , Helvetica , sans-serif;
    height: 100%;
    margin: 0 2px;
  }

  .paiSair-nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 10px;
  }
}

@media ( min-width : 480px ) and ( max-width : 600px ) {

  nav {
    align-items: center;
    background-color: rgb(244, 244, 244);
    border-top: 0.5px solid rgb(224, 224, 224);
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .nav-link {
    align-items: center;
    display: flex;
  }

  .linkProdutos, .linkPedidos, .linkAdmin, .linkSair {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .linkSair {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .iconProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiName-nav p {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .iconSairProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiLinks-nav {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 2px;
    padding: 0 10px;
  }

  .paiSair-nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
  }
}

@media ( min-width : 601px ) and ( max-width : 800px ) {

  nav {
    align-items: center;
    background-color: rgb(244, 244, 244);
    border-radius: 6px;
    box-shadow: 4px 4px 10px rgba(68, 68, 68, 0.783);
    display: flex;
    height: 50px;
    justify-content: space-between;
    left: 50%;
    position: fixed;
    top: 40px;
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: 3;
  }

  .nav-link {
    align-items: center;
    display: flex;
  }

  .linkProdutos, .linkPedidos, .linkAdmin, .linkSair {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .linkSair {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .iconProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiName-nav p {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
  }

  .iconSairProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiLinks-nav {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 2px;
    padding: 0 10px;
  }

  .paiSair-nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
  }
}

@media ( min-width : 801px ) and ( max-width : 1000px ) {

  nav {
    align-items: center;
    background-color: rgb(244, 244, 244);
    border-radius: 6px;
    box-shadow: 4px 4px 10px rgba(68, 68, 68, 0.783);
    display: flex;
    height: 50px;
    justify-content: space-between;
    left: 50%;
    position: fixed;
    top: 40px;
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: 3;
  }

  .nav-link {
    align-items: center;
    display: flex;
  }

  .linkProdutos, .linkPedidos, .linkAdmin, .linkSair {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .linkSair {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .iconProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiName-nav p {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
  }

  .iconSairProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiLinks-nav {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 2px;
    padding: 0 10px;
  }

  .paiSair-nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
  }
}

@media ( min-width : 1001px ) {

  nav {
    align-items: center;
    background-color: var(--segunda);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
  }

  .nav-link {
    align-items: center;
    display: flex;
  }

  .linkProdutos, .linkPedidos, .linkAdmin, .linkSair {
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    padding: 0 20px;
    text-decoration: none;
  }

  .linkSair {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
  }

  .iconProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiName-nav p {
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
  }

  .iconSairProdutos {
    color: rgb(101, 101, 101);
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paiLinks-nav {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 2px;
    padding: 0 10px;
  }

  .paiSair-nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
  }
}
