@media ( min-width : 320px ) and ( max-width : 479px ) {

  .container-OrderDetails h2 {
    padding: 14px 12px;
    text-align: left;
  }

  .main-OrderDetails {
    background-color: rgb(244, 244, 244);
    display: flex;
    padding: 10px 0;
    z-index: 2;
  }

  .main-OrderDetails img {
    padding: 15px;
    width: 50px;
  }

  .date-OrderDetails, .seller-OrderDetails {
    margin: 5px 0;
  }

  .icon1-OrderDetails {
    font-size: 30px;
    margin: -5px 5px 0;
  }

  .icon2-OrderDetails {
    font-size: 30px;
    margin: 0 5px;
  }

  .icon3-OrderDetails {
    font-size: 30px;
    margin: 0 5px;
  }

  .Pendente-OrderDetails {
    align-items: center;
    color: rgb(255, 47, 0);
    display: flex;
    font-weight: 900;
    margin: 5px 0;
  }

  .Preparando-OrderDetails {
    align-items: center;
    color: var(--segunda);
    display: flex;
    font-weight: 900;
    margin: 5px 0;
  }

  .Trânsito-OrderDetails {
    align-items: center;
    color: #317e5b;
    display: flex;
    font-weight: 900;
    margin: 5px 0;
  }

  .prepareBtn {
    background: var(--segunda);
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(171, 149, 8);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 900;
    height: 40px;
    margin: 10px 0;
    min-width: 130px;
    outline: none;
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease;
    width: 200px;
  }

  .prepareBtn:hover {
    box-shadow: 0 3px rgb(142, 107, 4);
    top: 1px;
  }

  .prepareBtn:active {
    box-shadow: 0 0 rgb(142, 107, 4);
    top: 5px;
  }

  .deliveryBtn {
    background: #317e5b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(12, 110, 36);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: 900;
    height: 40px;
    margin: 10px 0;
    min-width: 130px;
    outline: none;
    padding: 5px 10px;
    position: relative;
    transition: all 0.3s ease;
    width: 200px;
  }

  .deliveryBtn:hover {
    box-shadow: 0 3px #1d583e;
    top: 1px;
  }

  .deliveryBtn:active {
    box-shadow: 0 0 #1d583e;
    top: 5px;
  }

  .details-OrderDetails {
    background-color: white;
    padding: 15px;
  }

  .details-OrderDetails > div > p:nth-child( 1 ) {
    font-weight: 900;
  }

  .details-OrderDetails > div > p:nth-child( 2 ) {
    padding: 0 30px;
  }

  .details-OrderDetails > div > p:nth-child( 4 ) {
    padding: 0 30px;
  }

  .details-OrderDetails > div > p:nth-child( 5 ) {
    padding: 0 30px;
  }
}

@media ( min-width : 480px ) and ( max-width : 600px ) {


}

@media ( min-width : 601px ) and ( max-width : 800px ) {

}

@media ( min-width : 801px ) and ( max-width : 1000px ) {

}

@media ( min-width : 1001px ) {

}
